nav{
	width: 1500px;
	text-align: left;
}
nav img{
	width: 120px;
}
.loginas{
	padding-top: 100px;
	padding-left: 500px;
	padding-right: 500px;
}
.box1{
	padding: 60px 75px;
	box-shadow: 1px 2px 12px -1px rgba(183,183,183,0.75);
	-webkit-box-shadow: 1px 2px 12px -1px rgba(183,183,183,0.75);
	-moz-box-shadow: 1px 2px 12px -1px rgba(183,183,183,0.75);

	border-radius: 10px;
	text-align: center;

}
.loginas a{
	background: white;
	text-decoration: none;
	padding: 16px 20px;

}
.admin{
	border: 1px solid #F52746;
	border-radius: 10px;
	color: #F52746;
	font-family: "Poppins", sans-serif;
	font-size: 15px;
	transition: 0.3s;
}
.admin:hover{
	background: #F52746;
	color: white;
}
.owner{
	border: 1px solid #1AE88E;
	border-radius: 10px;
	color: #1AE88E;
	font-family: "Poppins", sans-serif;
	font-size: 15px;
	transition: 0.3s;
}
.owner:hover{
	background: #1AE88E;
	color: white;
}
.driver{
	border: 1px solid #1AE8D3;
	border-radius: 10px;
	color: #1AE8D3;
	font-family: "Poppins", sans-serif;
	font-size: 15px;
	transition: 0.3s;
}
.driver:hover{
	background: #1AE8D3;
	color: white;
}
.client{
	border: 1px solid #4E1AE8;
	border-radius: 10px;
	color: #4E1AE8;
	font-family: "Poppins", sans-serif;
	font-size: 15px;
	transition: 0.3s;
}
.client:hover{
	background: #4E1AE8;
	color: white;
}
.signup{
	padding: 40px 500px;
}
.box2{
	padding: 60px 75px;
	box-shadow: 1px 2px 12px -1px rgba(183,183,183,0.75);
	-webkit-box-shadow: 1px 2px 12px -1px rgba(183,183,183,0.75);
	-moz-box-shadow: 1px 2px 12px -1px rgba(183,183,183,0.75);

	border-radius: 10px;
	text-align: center;
}
.box2 h2{
	font-size: 15px;
	font-weight: 200;
	color: dimgray;
	font-family: "Poppins", sans-serif;
}
.gfb img{
	width: 50px;
	height: 25px;
	padding-top: 10px;
	position: relative;
	bottom: -6px;
	left: 3px;
}
.gfb a{
	text-decoration: none;
	padding: 15px 25px;
	box-shadow: 0 4px 14px rgba(32, 32, 32, 0.15);
	text-align: center;
	color: 1A21E8;
	font-family: "Poppins", sans-serif;
	border: transparent;
	border-radius: 10px;
	transition: 0.35s;
	color: blue;
}
.gfb a:hover{
	transform: translateY(-10px);
	color: gray;
}
.form input{
	padding: 10px 10px;
	width: 350px;
	color: #F7F7F7;
	border-radius: 5px;
	border: 3px solid #F3F3F3;
	font-family: "Poppins", sans-serif;
	font-weight: 200;

}
.form{
	padding-top: 30px;
	row-gap: 20px;
}
.gfb{
	column-gap: 20px;
}
.rm{
	display: flex;
	justify-content: space-between;
	height: 20px;
	column-gap: 5px;
	width: 100px;
	align-items: center;
	padding-top: 25px;
}
.rm p{
	display: flex;
	width: 200px;
}
.rm input{
	width: 25px;
	height: 25px;
	border: 1px solid dimgray;
}
.btn3{
	padding: 10px 12px;
	background:#F52746 ;
	width: 80px;
	border-radius: 8px;
	position: absolute;
	left: 130px;
	top: 30px;
	transition: 0.35s;
}
.btns{
	text-align: center;
	position: relative;
}
.btn3 a{
	text-decoration: none;
	color: white;

}
hr{
	border: 0.5px solid #C7C7C7;
}
.create{
	padding: 15px 20px;
	background: #1AE88E ;
	width: 140px;
	border-radius: 8px;
	color: white;
	text-decoration: none;
	font-size: 12px;
	transition: 0.3s;
	position: absolute;
	left: 680px;

}
.create:hover{
	transform: translateY(-8px);
}
.btn3:hover{
	transform: translateY(-5px);
}
